button{
    background-color: black;
    color: white;
}

@keyframes animation{
    to {
        background-color: white;
        color: rgb(97, 96, 96);
        font-size: larger;
        border: 3px solid grey;
    }
}


button:hover{
    animation: forwards animation 0.5s;
}