button{
    background-color: black;
    color: white;
}

@keyframes animation{
    to {
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: xx-large;
        border: 3px solid grey;
    }
}


button:hover{
    animation: forwards animation 0.5s;
}


*{
    text-align: center;
}

#answeris5btn{
    font-size: larger;
}

body {
    background-color: grey;
}

p {
    color: white;
}

h1, h2, h3, h4, h5 {
    color: white;
}

label {
    color: white;
}